<app-header></app-header>

<div class="w-11/12 mx-auto text-center py-1">
        <img class="w-full"  src="../../../assets/img/nosotros.jpg" alt="Optica San Cristóbal">
</div>
<div class="py-3">
    <div class="card mb-3 w-10/12 m-auto py-6 bg-success text-white" >
        <div class="row g-0">
          <div class="col-md-5 px-2">
            <img src="../../../assets/img/escaparate.jpg" class="img-fluid rounded-start w" alt="Escaparate óptica san cristóbal">
          </div>
          <div class="col-md-7">
            <div class="card-body">
              <h1 class="card-title text-center text-bold bg-gray-700">Llevamos más de 25 años dedicados a las salud visual y auditiva</h1>
              <p class="card-text text-lg">Contamos con profesionales altamente cualificados en optometría, terapia visual, contactología, baja visión y audiología, que están renovándos constantemente para ofrecer los materiales y técnicas más actuales</p>
              <p class="card-text text-lg">Trabajamos con fabricantes líderes en el mercado de monturas y lentes oftálmicas y con los mejores laboratorios en el sector de las lentes de contacto. En nuestra óptica siempre encontrarás las mejores marcas. Tanto el Clínica de Optometría Avanzada, como en nuestro centro audiológico, te ofrecemos el mejor servicio</p>
           
            </div>
          </div>
        </div>
    </div>
</div>

<div class="text-lg md:text-3xl bg-yellow-300 w-11/12 mx-auto mb-3 px-4">Nuestros profesionales</div>

<div class="container-fluid w-4/5">
    <div class="row">
      <div class="col">
        <div class="card px-2" >
            <img src="../../../assets/img/prof1.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <p class="bg-gray-700 text-white font-bold px-1">Antonio García</p>
                <p class=" text-justify font-bold">Directora Técnica Óptico Optometrista y Optometrista Comportamental</p>
              <p class="card-text text-justify">Diplomada en Óptica y Optometría. Universidad de Granada.
                Experta en Optometría Comportamental, Estrabismo, Ambliopía y Daño Cerebral por Sanet Vision Seminars en colaboración con la Universidad CEU San Pablo impartido por Dr. Sanet.</p>
            </div>
        </div>
      </div>
      <div class="col ">
        <div class="card px-2" >
            <img src="../../../assets/img/prof2.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <p class="bg-gray-700 text-white  font-bold px-1">María de los Ángeles Martínez</p>
                <p class=" text-justify font-bold">Técnica Óptico Optometrista y Optometrista Comportamental</p>
              <p class="card-text text-justify">Diplomada en Óptica y Optometría. Universidad Complutense de Madrid.
                Experta en Optometría Comportamental, Estrabismo, Ambliopía y Daño Cerebral por Sanet Vision Seminars en colaboración con la Universidad CEU San Pablo impartido por Dr. Sanet.</p>
            </div>
        </div>
      </div>
    </div>
  </div>

<app-footer></app-footer>


<!-- LICENSE TAILWINDCSS
  MIT License

Copyright (c) Adam Wathan <adam.wathan@gmail.com>
Copyright (c) Jonathan Reinink <jonathan@reinink.ca>

Permission is hereby granted, free of charge, to any person obtaining a copy
of this software and associated documentation files (the "Software"), to deal
in the Software without restriction, including without limitation the rights
to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
copies of the Software, and to permit persons to whom the Software is
furnished to do so, subject to the following conditions:

The above copyright notice and this permission notice shall be included in all
copies or substantial portions of the Software.

THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
SOFTWARE.
-->

<!-- LICENSE ANGULAR MATERIAL
  MIT License

Copyright (c) Adam Wathan <adam.wathan@gmail.com>
Copyright (c) Jonathan Reinink <jonathan@reinink.ca>

Permission is hereby granted, free of charge, to any person obtaining a copy
of this software and associated documentation files (the "Software"), to deal
in the Software without restriction, including without limitation the rights
to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
copies of the Software, and to permit persons to whom the Software is
furnished to do so, subject to the following conditions:

The above copyright notice and this permission notice shall be included in all
copies or substantial portions of the Software.

THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
SOFTWARE.
-->

<!-- LICENSE BOOTSTRAP
    The MIT License (MIT)

Copyright (c) 2011-2018 Twitter, Inc.
Copyright (c) 2011-2018 The Bootstrap Authors

Permission is hereby granted, free of charge, to any person obtaining a copy
of this software and associated documentation files (the "Software"), to deal
in the Software without restriction, including without limitation the rights
to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
copies of the Software, and to permit persons to whom the Software is
furnished to do so, subject to the following conditions:

The above copyright notice and this permission notice shall be included in
all copies or substantial portions of the Software.

THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN
THE SOFTWARE.
-->