<app-header></app-header>
<div class="w-11/12 m-auto py-1">
  <img class="w-full h-64" src="../../../assets/img/servicios3.jpg" alt="Servicios Optica San Cristóbal">
</div>

<div class="container-fluid w-4/5">
  <div class="row py-2">
    <div class="col bg-gray-200 ">
      <div class="card px-2" >
          <img src="../../../assets/img/optometria.jpg" class="card-img-top h-64" alt="...">
          <div class="card-body">
              <p class="bg-black text-yellow-500 font-bold px-1 text-center text-2xl">Estudio Optométrico y Terapia visual</p>
            <p class="card-text text-justify">Contamos con un gran equipamiento tecnológico para detectar y corregir las anomalías visuales de nuestros clientes. Para tu confort visual, nuestros especialistas adaptarán tus gafas y lentes de contacto al milímetro según tus necesidades..</p>
          </div>
      </div>
    </div>
    <div class="col bg-gray-200">
      <div class="card px-2" >
          <img src="../../../assets/img/refractiva.jpg" class="card-img-top h-64" alt="...">
          <div class="card-body">
              <p class="bg-black text-yellow-500 font-bold px-1 text-center text-2xl">Análisis refractivo y graduación de la vista</p>
              <p class="card-text text-justify">La retinoscopia es una técnica diagnóstica que permite visualizar el polo posterior del globo ocular. Esta técnica indolora proporciona información sobre las alteraciones de la retina, nervio óptico o vasos sanguíneos</p>
          </div>
      </div>
    </div>
    <div class="col bg-gray-200">
      <div class="card px-2" >
          <img src="../../../assets/img/lentescontact.jpg" class="card-img-top h-64" alt="...">
          <div class="card-body">
              <p class="bg-black text-yellow-500 font-bold px-1 text-center text-2xl">Adaptación de lentes de contacto</p>
            <p class="card-text text-justify">Disponemos de una amplia gama en lentes de contacto para que los clientes que optan por estas puedan escoger el modelo más apropiado según su necesidad visual, por ello, adaptamos cualquier tipo de lente de contacto.</p>
          </div>
      </div>
    </div>
  </div>

  <div class="row py-2">
    <div class="col bg-gray-200 ">
      <div class="card px-2" >
          <img src="../../../assets/img/tensionocular.jpg" class="card-img-top h-64" alt="...">
          <div class="card-body">
              <p class="bg-black text-yellow-500 font-bold px-1 text-center text-2xl">Control de tensión ocular</p>
            <p class="card-text text-justify"> Control de la presión intraocular, y evaluación del fondo de ojo y el campo visual para realizar el diagnóstico, seguimiento e indicación de tratamiento si procede.</p>
          </div>
      </div>
    </div>
    <div class="col bg-gray-200">
      <div class="card px-2" >
          <img src="../../../assets/img/otoscopio.jpg" class="card-img-top h-64" alt="...">
          <div class="card-body">
              <p class="bg-black text-yellow-500 font-bold px-1 text-center text-2xl">Revisiones Audiológicas</p>
              <p class="card-text text-justify">Nos esforzamos en destacar la importancia de realizar revisiones audiológicas periódicas para conservar una buena salud auditiva. En nuestro espacio de audiología realizamos estudios gratuitos, revisiones, adaptación de audífonos, etc.</p>
          </div>
      </div>
    </div>
    <div class="col bg-gray-200">
      <div class="card px-2" >
          <img src="../../../assets/img/progresivos.jpg" class="card-img-top h-64" alt="...">
          <div class="card-body">
              <p class="bg-black text-yellow-500 font-bold px-1 text-center text-2xl">Especialistas en lentes progresivas</p>
            <p class="card-text text-justify">Las lentes progresivas son la mejor opción para solucionar con una única lente todos los problemas visuales. Con Visioffice® medimos y adaptamos los parámetros de visión de cada paciente para que sus lentes estén perfectamente adaptadas.</p>
          </div>
      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>

<!-- LICENSE TAILWINDCSS
  MIT License

Copyright (c) Adam Wathan <adam.wathan@gmail.com>
Copyright (c) Jonathan Reinink <jonathan@reinink.ca>

Permission is hereby granted, free of charge, to any person obtaining a copy
of this software and associated documentation files (the "Software"), to deal
in the Software without restriction, including without limitation the rights
to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
copies of the Software, and to permit persons to whom the Software is
furnished to do so, subject to the following conditions:

The above copyright notice and this permission notice shall be included in all
copies or substantial portions of the Software.

THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
SOFTWARE.
-->

<!-- LICENSE ANGULAR MATERIAL
  MIT License

Copyright (c) Adam Wathan <adam.wathan@gmail.com>
Copyright (c) Jonathan Reinink <jonathan@reinink.ca>

Permission is hereby granted, free of charge, to any person obtaining a copy
of this software and associated documentation files (the "Software"), to deal
in the Software without restriction, including without limitation the rights
to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
copies of the Software, and to permit persons to whom the Software is
furnished to do so, subject to the following conditions:

The above copyright notice and this permission notice shall be included in all
copies or substantial portions of the Software.

THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
SOFTWARE.
-->

<!-- LICENSE BOOTSTRAP
    The MIT License (MIT)

Copyright (c) 2011-2018 Twitter, Inc.
Copyright (c) 2011-2018 The Bootstrap Authors

Permission is hereby granted, free of charge, to any person obtaining a copy
of this software and associated documentation files (the "Software"), to deal
in the Software without restriction, including without limitation the rights
to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
copies of the Software, and to permit persons to whom the Software is
furnished to do so, subject to the following conditions:

The above copyright notice and this permission notice shall be included in
all copies or substantial portions of the Software.

THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN
THE SOFTWARE.
-->