<app-header></app-header>
<app-carousel></app-carousel>

<mat-card class="bg-gray-100 w-full">
  <p class="font-sans text-4xl text-gray-800 text-center">Óptica San Cristobal</p>
  <p class="font-sans text-lg text-gray-600 text-center">Más de 25 años de experiencia</p>
  <p class="font-sans text-base text-gray-500 text-center italic">Ofreciendo los mejores servicios de optometría</p>
  <p class="font-sans px-8 text-base text-gray-500 text-justify ">En Óptica San Cristobal trabajamos para ofrecerte los mejores tratamientos para tu salud visual y ponemos a tu servicio a los mejores especialistas en lentes de contacto.</p>
  <p class="font-sans px-8 text-base text-gray-500 text-justify ">Nuestro establecimiento encontrarás una amplia oferta de gafas graduadas, gafas de sol, gafas de seguridad y gafas deportivas</p>
</mat-card>

<br><hr class="w-5/6 m-auto"><br>

<div class="m-auto px-4">
  <div class="row">
    <div class="col">
      <div class="card h-full" >
        <img src="../../../assets/img/gafassol.jpg" class="card-img-top" alt="...">
        <div class="card-text bg-gray-100 text-center text-xs md:text-2xl">Gafas de sol</div>
        <div class="card-text bg-gray-500 text-white text-center text-xs md:text-lg px-1">Encuentra tus gafas de sol de las mejores marcas a precios accesibles</div>
      </div>
    </div>
    <div class="col">
      <div class="card h-full" >
        <img src="../../../assets/img/lentescontacto.jpg" class="card-img-top" alt="...">
        <div class="card-text bg-gray-100 text-center text-xs md:text-2xl">Lentes de contacto</div>
        <div class="card-text bg-gray-500 text-white text-center text-xs md:text-lg px-1">Todas las lentillas, líquidos y packs que necesitas para tu visión libre</div>
      </div>
    </div>
    <div class="col">
      <div class="card h-full" >
        <img src="../../../assets/img/gafasgraduadas.jpg" class="card-img-top" alt="...">
        <div class="card-text bg-gray-100 text-center text-xs md:text-2xl">Gafas graduadas</div>
        <div class="card-text bg-gray-500 text-white text-center text-xs md:text-lg px-1">Para mujer, hombre y niños. Diferentes estilos precios y marcas</div>
      </div>
    </div>
  </div>
</div>

<br><hr class="w-5/6 m-auto"><br>

<mat-card class="w-10/12 m-auto">
  <img mat-card-image src="../../../assets/img/revisionocular.jpg" alt="" class=""> 
  <mat-card-actions class="text-center "><button mat-raised-button color="primary" routerLink="/appointment" class="text-lg md:text-3xl">Pedir cita</button></mat-card-actions>
</mat-card>

<br><hr class="w-5/6 m-auto"><br>

<mat-card class="w-11/12 m-auto " >
  <mat-card-title class="text-lg md:text-3xl bg-yellow-300">Marcas más reconocidas</mat-card-title>
  <mat-grid-list cols="4" rowHeight="2:1">
    <mat-grid-tile class=>
      <a title="Uploaded to Commons by Xeworlebi, self created, Public domain, via Wikimedia Commons" href="https://commons.wikimedia.org/wiki/File:Ray-Ban_logo.svg"><img width="512" alt="Ray-Ban logo" src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/d1/Ray-Ban_logo.svg/512px-Ray-Ban_logo.svg.png"></a>
    </mat-grid-tile>
    <mat-grid-tile>
      <a title="Frha Ribo, Public domain, via Wikimedia Commons" href="https://commons.wikimedia.org/wiki/File:Logo_carrera.svg"><img width="512" alt="Logo carrera" src="https://upload.wikimedia.org/wikipedia/commons/thumb/f/fc/Logo_carrera.svg/512px-Logo_carrera.svg.png"></a>
    </mat-grid-tile>
    <mat-grid-tile>
      <a title="Polaroid, Public domain, via Wikimedia Commons" href="https://commons.wikimedia.org/wiki/File:Polaroid_Sunglasses_logo.JPG"><img width="512" alt="Polaroid Sunglasses logo" src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/15/Polaroid_Sunglasses_logo.JPG/512px-Polaroid_Sunglasses_logo.JPG"></a>
    </mat-grid-tile>
    <mat-grid-tile>
      <a title="See page for author, Public domain, via Wikimedia Commons" href="https://commons.wikimedia.org/wiki/File:Carolina_herrera_NY_logo.png"><img width="256" alt="Carolina herrera NY logo" src="https://upload.wikimedia.org/wikipedia/commons/3/3a/Carolina_herrera_NY_logo.png"></a>
    </mat-grid-tile>
    <mat-grid-tile>
      <a title=".The original uploader was Bruce The Deus at Italian Wikipedia., Public domain, via Wikimedia Commons" href="https://commons.wikimedia.org/wiki/File:Hugo_Boss_logo.JPG"><img width="512" alt="Hugo Boss logo" src="https://upload.wikimedia.org/wikipedia/commons/0/00/Hugo_Boss_logo.JPG"></a>
    </mat-grid-tile>
    <mat-grid-tile>
      <a title="Acuvue, Public domain, via Wikimedia Commons" href="https://commons.wikimedia.org/wiki/File:Acuvue_logo.svg"><img width="128" alt="Acuvue logo" src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/c0/Acuvue_logo.svg/128px-Acuvue_logo.svg.png"></a>
    </mat-grid-tile>
    <mat-grid-tile>
      <a title="Ralph Lauren Corporation, Public domain, via Wikimedia Commons" href="https://commons.wikimedia.org/wiki/File:Ralph_Lauren_logo.svg"><img width="512" alt="Ralph Lauren logo" src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/72/Ralph_Lauren_logo.svg/512px-Ralph_Lauren_logo.svg.png"></a>
    </mat-grid-tile>
    <mat-grid-tile>
      <a title="Oakley, Inc., Public domain, via Wikimedia Commons" href="https://commons.wikimedia.org/wiki/File:Oakley_logo.svg"><img width="512" alt="Oakley logo" src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/88/Oakley_logo.svg/512px-Oakley_logo.svg.png"></a>
    </mat-grid-tile>
  </mat-grid-list>
</mat-card>

<br>

<app-footer></app-footer>

<!-- LICENSE TAILWINDCSS
  MIT License

Copyright (c) Adam Wathan <adam.wathan@gmail.com>
Copyright (c) Jonathan Reinink <jonathan@reinink.ca>

Permission is hereby granted, free of charge, to any person obtaining a copy
of this software and associated documentation files (the "Software"), to deal
in the Software without restriction, including without limitation the rights
to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
copies of the Software, and to permit persons to whom the Software is
furnished to do so, subject to the following conditions:

The above copyright notice and this permission notice shall be included in all
copies or substantial portions of the Software.

THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
SOFTWARE.
-->

<!-- LICENSE ANGULAR MATERIAL
  MIT License

Copyright (c) Adam Wathan <adam.wathan@gmail.com>
Copyright (c) Jonathan Reinink <jonathan@reinink.ca>

Permission is hereby granted, free of charge, to any person obtaining a copy
of this software and associated documentation files (the "Software"), to deal
in the Software without restriction, including without limitation the rights
to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
copies of the Software, and to permit persons to whom the Software is
furnished to do so, subject to the following conditions:

The above copyright notice and this permission notice shall be included in all
copies or substantial portions of the Software.

THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
SOFTWARE.
-->

<!-- LICENSE BOOTSTRAP
    The MIT License (MIT)

Copyright (c) 2011-2018 Twitter, Inc.
Copyright (c) 2011-2018 The Bootstrap Authors

Permission is hereby granted, free of charge, to any person obtaining a copy
of this software and associated documentation files (the "Software"), to deal
in the Software without restriction, including without limitation the rights
to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
copies of the Software, and to permit persons to whom the Software is
furnished to do so, subject to the following conditions:

The above copyright notice and this permission notice shall be included in
all copies or substantial portions of the Software.

THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN
THE SOFTWARE.
-->